<div id="{{ edge_device.web_id }}"
     class="list-group-item mb-3 py-2 ps-2 pe-0 rounded-3 model-builder-card grab">
    <button id="button-{{ edge_device.web_id }}"
            class="btn btn-white text-start d-flex flex-row justify-content-between align-items-center w-100"
            type="button"
            hx-get="/model_builder/open-edit-object-panel/{{ edge_device.efootprint_id }}"
            hx-target="#sidePanel"
            hx-trigger="click"
            hx-swap="innerHTML"
            hx-disabled-elt="button"
            _="
                on click removeAllOpenedObjectsHighlights() add .model-builder-card-opened to #{{ edge_device.web_id }}
                on mouseout add .d-none to #edit-icon-{{ edge_device.web_id }}
                on mouseover remove .d-none from #edit-icon-{{ edge_device.web_id }}
            "
    >
        {% include 'model_builder/components/button_card_header.html' with object_card=edge_device %}
    </button>
</div>
