{% load static label_filters %}
<div id="{{ object.web_id }}" class="leader-line-object d-flex my-3 custom-ms-3 border border-0 border-white align-items-start"
     data-link-to="{{ object.links_to }}"
     data-line-opt="{{ object.data_line_opt }}">
    <div class="w-100 p-0">
        <div class="accordion accordion-flush">
            <div class="accordion-item">
                <div class="accordion-header p-0 d-flex align-self-start">
                    <img src="{% static 'images/step-circle.svg' %}"
                         data-link-to="{{ object.icon_links_to }}"
                         data-line-opt="{{ object.icon_leaderline_style }}"
                         id="icon-{{ object.web_id }}"
                         width="16" height="16"
                         class="align-self-center leader-line-object mx-1"
                        alt="icon line step">
                    <button type="button" class="chevron-btn btn btn-link text-black ms-2 p-0"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-{{ object.web_id }}"
                            onclick="reverseIconAccordion('{{ object.web_id }}')"
                            aria-expanded="{% if object.accordion_children|length == 0 %}true{% else %}false{% endif %}"
                            aria-controls="flush-{{ object.web_id }}">
                        <svg id="icon_accordion_{{ object.web_id }}" xmlns="http://www.w3.org/2000/svg"
                             width="16" height="16" fill="none" stroke="#9CA3AF" stroke-width="3"
                             class="bi bi-chevron-right {% if object.accordion_children|length == 0 %}chevron-rotate{% endif %}"
                             viewBox="0 0 16 16">
                            <path fill="none" stroke-linecap="round" stroke-linejoin="round"
                                  d="M4.646 1.646l6 6-6 6"/>
                        </svg>
                    </button>
                    <button id="button-{{ object.web_id }}"
                            class="btn btn-white p-2 text-start w-100 d-flex flex-row justify-content-between align-items-center text-break position-relative border-2"
                            type="button"
                            hx-get="/model_builder/open-edit-object-panel/{{ object.efootprint_id }}"
                            hx-target="#sidePanel"
                            hx-trigger="click"
                            hx-swap="innerHTML"
                            hx-disabled-elt="button"
                            _="
                                on click removeAllOpenedObjectsHighlights() add .model-builder-card-opened on me
                                on mouseover remove .d-none from #edit-icon-{{ object.web_id }}
                                on mouseout add .d-none to #edit-icon-{{ object.web_id }}
                            "
                    >
                        {% include 'model_builder/components/button_card_header.html' with object_card=object %}
                    </button>
                </div>
                <div id="flush-{{ object.web_id }}"
                     class="accordion-collapse collapse {% if object.accordion_children|length == 0 %}show{% endif %}"
                     data-bs-parent="#{{ object.web_id }}">
                    <div class="accordion-body w-100 pe-0 m-0 d-flex flex-column py-1">
                        {% if object.child_object_types_str|length > 1 %}
                            {% for section in object.child_sections %}
                                <div class="w-85 ms-15 px-2 py-2 my-1 d-flex flex-column"
                                     style="border: 1px dotted #d0d5dd; border-radius: 10px;">
                                    <p class="h8 text-secondary mb-2">{{ section.type_str|class_label }}s</p>
                                    {% for child in section.children %}
                                        {% include 'model_builder/object_cards/'|add:object.child_template_name|add:'_card.html' with object=child %}
                                    {% endfor %}
                                    <div class="d-flex justify-content-end position-relative mt-1">
                                        {% include 'model_builder/components/add_child_button.html' with type_str=section.type_str parent_efootprint_id=object.efootprint_id %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            {% for child in object.accordion_children %}
                                {% include 'model_builder/object_cards/'|add:object.child_template_name|add:'_card.html' with object=child %}
                            {% endfor %}
                            <div class="w-85 ms-15 px-0 py-1 d-flex justify-content-end position-relative">
                                {% include 'model_builder/components/add_child_button.html' with type_str=object.child_object_type_str parent_efootprint_id=object.efootprint_id %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
