{% load static label_filters %}
<div id="{{ object.web_id }}" class="w-85 ms-15 px-0 py-1 leader-line-object"
    data-link-to="{{ object.links_to }}" data-line-opt="{{ object.data_line_opt }}">
    <div class="accordion accordion-flush" style="border: 1px dotted #d0d5dd; border-radius: 6px; padding: 6px 8px 10px 8px;">
        <div class="accordion-item">
            <div class="accordion-header p-0 d-flex align-items-center">
                <button type="button" class="chevron-btn btn btn-link text-black ms-3 p-0"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-{{ object.web_id }}"
                        onclick="reverseIconAccordion('{{ object.web_id }}')"
                        aria-expanded="{% if object.child_sections|length == 0 or object.child_sections.0.children|length == 0 %}true{% else %}false{% endif %}"
                        aria-controls="flush-{{ object.web_id }}">
                        <svg id="icon_accordion_{{ object.web_id }}" xmlns="http://www.w3.org/2000/svg"
                             width="16" height="16" fill="none" stroke="#9CA3AF" stroke-width="3"
                             class="bi bi-chevron-right {% if object.child_sections|length == 0 or object.child_sections.0.children|length == 0 %}chevron-rotate{% endif %}"
                             viewBox="0 0 16 16">
                            <path fill="none" stroke-linecap="round" stroke-linejoin="round" d="M4.646 1.646l6 6-6 6" />
                        </svg>
                </button>
                <button id="button-{{ object.web_id }}"
                        class="btn btn-white text-end px-3 d-flex flex-row justify-content-end align-items-center rounded-start-2 rounded-end-0 border-2 border-end-0 position-relative w-100"
                        type="button"
                        hx-get="/model_builder/open-edit-object-panel/{{ object.efootprint_id }}/"
                        hx-target="#sidePanel"
                        hx-trigger="click"
                        hx-swap="innerHTML"
                        hx-disabled-elt="button"
                        _="
                            on click removeAllOpenedObjectsHighlights() add .model-builder-card-opened on me
                            on mouseover remove .d-none from #edit-icon-{{ object.web_id }}
                            on mouseout add .d-none to #edit-icon-{{ object.web_id }}
                        "
                >
                    {% include 'model_builder/components/button_card_header.html' with object_card=object %}
                </button>
            </div>
            <div id="flush-{{ object.web_id }}"
                 class="accordion-collapse collapse accordion-all {% if object.child_sections|length == 0 or object.child_sections.0.children|length == 0 %}show{% endif %}"
                 data-bs-parent="#{{ object.web_id }}">
                <div class="accordion-body text-start">
                    {% with section=object.child_sections.0 %}
                        <div class="w-100 mx-0 my-0 align-items-center rounded-2 bg-white" id="{{ object.web_id }}-{{ section.attr_name }}">
                            {% for child in section.children %}
                                {% include 'model_builder/object_cards/'|add:child.template_name|add:'_card.html' with object=child %}
                            {% endfor %}
                            <div id="add-{{ section.attr_name }}-to-{{ object.web_id }}"
                                 class="w-85 ms-15 px-0 py-0 d-flex justify-content-end position-relative">
                                {% include 'model_builder/components/add_child_button.html' with type_str=section.type_str parent_efootprint_id=object.efootprint_id %}
                            </div>
                        </div>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
