{% if object.template_name == "resource_need_with_accordion" %}
    {% include 'model_builder/object_cards/resource_need_with_accordion_card.html' with object=object %}
{% else %}
    <div id="{{ object.web_id }}" class="w-85 ms-15 px-0 py-1 leader-line-object"
        data-link-to="{{ object.links_to }}" data-line-opt="{{ object.data_line_opt }}">
        <button
                id="button-{{ object.web_id }}"
                class="btn btn-white text-end w-100 px-3 d-flex flex-row justify-content-end align-items-center rounded-start-2 rounded-end-0 border-2 border-end-0 position-relative"
                hx-get="/model_builder/open-edit-object-panel/{{ object.efootprint_id }}/"
                hx-target="#sidePanel"
                hx-trigger="click"
                hx-swap="innerHTML"
                hx-disabled-elt="button"
                _="
                    on click removeAllOpenedObjectsHighlights() add .model-builder-card-opened on me
                    on mouseover remove .d-none from #edit-icon-{{ object.web_id }}
                    on mouseout add .d-none to #edit-icon-{{ object.web_id }}
                "
        >
            {% include 'model_builder/components/button_card_header.html' with object_card=object %}
        </button>
    </div>
{% endif %}
