{% load static %}
<div id="{{ server.web_id }}" class="col-9 offset-3 list-group-item my-3 mb-1 py-2 px-0 model-builder-card cursor">
    <div class="accordion accordion-flush">
        <div class="accordion-item">
            <div class="accordion-header d-flex align-items-center px-3">
                <button type="button" class="chevron-btn btn btn-link p-0 me-2 text-black"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-{{ server.web_id }}"
                        onclick="reverseIconAccordion('{{ server.web_id }}')"
                        aria-expanded="{% if server.installed_services|length == 0 %}true{% else %}false{% endif %}"
                        aria-controls="flush-{{ server.web_id }}">
                        <svg id="icon_accordion_{{ server.web_id }}" xmlns="http://www.w3.org/2000/svg"
                             width="16" height="16" fill="none" stroke="#9CA3AF" stroke-width="3"
                             class="bi bi-chevron-right {% if server.installed_services|length == 0 %}chevron-rotate{% endif %}"
                             viewBox="0 0 16 16">
                            <path fill="none" stroke-linecap="round" stroke-linejoin="round" d="M4.646 1.646l6 6-6 6" />
                        </svg>
                </button>
                <button id="button-{{ server.web_id }}"
                        class="btn btn-white ms-1 text-start d-flex flex-row justify-content-between w-100"
                        type="button"
                        hx-get="/model_builder/open-edit-object-panel/{{ server.efootprint_id }}/"
                        hx-target="#sidePanel"
                        hx-trigger="click"
                        hx-swap="innerHTML"
                        hx-disabled-elt="button"
                        onmouseover="displayEditIcon('{{ server.web_id }}')"
                        onmouseout="hideEditIcon('{{ server.web_id }}')"
                >
                    <p class="{{ server.class_title_style }} mb-0">{{ server.name}}</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen ms-3 d-none" viewBox="0 0 16 16">
                      <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                    </svg>
                </button>
            </div>
            <div id="flush-{{ server.web_id }}"
                 class="accordion-collapse collapse accordion-all  {% if server.installed_services|length == 0 %}show{% endif %}"
                 data-bs-parent="#{{ server.web_id }}">
                <div class="accordion-body text-start">
                    <p class="h7 my-2">Services</p>
                    <div class="row mx-0 my-0 align-items-center rounded-2 bg-white pt-2" id="{{ server.web_id }}-services">
                        {% for service in server.installed_services %}
                            {%  include 'model_builder/object_cards/service_card.html' with service=service %}
                        {% endfor %}
                    </div>
                    <button class="btn btn-white text-start p-0 h8 dotted-border h-100 w-100 rounded-2 p-2"
                            hx-get="/model_builder/open-create-object-panel/Service/"
                            hx-target="#sidePanel"
                            hx-trigger="click"
                            hx-swap="innerHTML"
                            hx-disabled-elt="button"
                            hx-vals='{"efootprint_id_of_parent_to_link_to": "{{ server.efootprint_id }}"}'
                    >
                        <img src="{% static 'icons/add_icon.svg' %}" class="border-2 border-white me-2"  width="16px" height="16px" alt="add icon" />
                        Install service
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
