<div id="field-group-{{ field.id }}" class="mb-3">
    <div class="row gy-0 p-0 m-0 w-100
            {% if field.input_type == "select-multiple" and not field.options %} d-none {% endif %}">
        <div class="col-auto">
            <label for="{{ field.id }}" class="form-label">
                {{ field.label|capfirst }}
            </label>
        </div>
        {% if field.tooltip %}
            {% include "model_builder/side_panels/components/tooltip.html" %}
        {% endif %}
    </div>
    {% if field.input_type == "select" %}
        <select
            class="form-control p-2"
            id="{{ field.id }}"
            name="{{ field.id }}"
            required
        >
            {% for option in field.options %}
                <option value="{{ option.value }}" {% if option.value == field.selected %}selected{% endif %}>
                    {{ option.label }}</option>
            {% endfor %}
        </select>
    {% elif field.input_type == "select-multiple" %}
            <select
                class="form-control p-2 {% if not field.options %} d-none {% endif %}"
                id="{{ field.id }}" name="{{ field.id }}"
                multiple>
                {% for option in field.options %}
                     <option value="{{ option.value }}"
                     {% for selected_obj_id in field.selected %}
                         {% if selected_obj_id == option.value %}
                             selected
                         {% endif %}
                     {% endfor %} >{{ option.label }}</option>
                {% endfor %}
            </select>
    {% elif field.input_type == "datalist" %}
        <input
                class="form-control p-2"
                list="datalist_{{ field.id }}"
                id="{{ field.id }}"
                name="{{ field.id }}"
                {% if field.selected %}value="{{ field.selected }}"{% endif %}
                required
        >
        <datalist id="datalist_{{ field.id }}">
            <option selected value="select a provider">
        </datalist>
    {% elif field.input_type == "str" %}
        <input type="text" class="form-control p-2" id="{{ field.id }}" name="{{ field.id }}" value="{{ field.default }}"
               _="on click set my value to ''
                  on focusout if my value is empty set my value to '{{ field.default }}'"
               required>
    {% elif field.input_type == "input" %}
        <div class="input-group">
            <input type="number"
                    class="form-control input_with_add_on"
                    id="{{ field.id }}"
                    name="{{ field.id }}"
                    value="{{ field.default }}"
                    step="{{ field.step }}"
                    placeholder="Enter value"
                    required
                    {% if field.source %}
                        data-defaultValue="{{ field.default }}"
                        data-sourceName="{{ field.source.name }}"
                        data-sourceLink="{{ field.source.link }}"
                        oninput="updateSource(this)"
                    {% endif %}
                    {% if not field.can_be_negative %}
                        min="0"
                   {% endif %}
            >
            <span class="input-group-text">
                {{ field.unit }}
            </span>
        </div>
    {% else %}
        <p>Unexpected dynamic form field input type: {{ field.input_type }}</p>
    {% endif %}
    {% if field.source %}
        <div class="form-text fs-xl" id="source-{{ field.id }}">
            {% if field.source.link %}
                Source : <a target="_blank" class="sources-label" href="{{ field.source.link }}">{{ field.source.name }}
            </a>
            {% else %}
                Source : {{ field.source.name }}
            {% endif %}
        </div>
    {% endif %}
</div>
