<div id="field-group-{{ field.id }}" class="mb-3">
    <div class="row gy-0 p-0 m-0 w-100
            {% if field.input_type == "select-multiple" and not field.options %} d-none {% endif %}">
        <div class="col-auto">
            <label for="{{ field.id }}" class="form-label">
                {{ field.label|capfirst }}
            </label>
        </div>
        {% if field.tooltip %}
            {% include "model_builder/side_panels/components/tooltip.html" %}
        {% endif %}
    </div>
    {% if field.input_type == "select" %}
        <select
            class="form-control p-2"
            id="{{ field.id }}"
            name="{{ field.id }}"
            required
        >
            {% for option in field.options %}
                <option value="{{ option.value }}" {% if option.value == field.selected %}selected{% endif %}>
                    {{ option.label }}</option>
            {% endfor %}
        </select>
    {% elif field.input_type == "select-multiple" %}
        <div class="col-auto">
            <label for="add-new-object-{{ field.id }}" class="form-label">
                {{ field.label|capfirst }}
            </label>
        </div>
        {% if field.tooltip %}
            {% include "model_builder/side_panels/components/tooltip.html" %}
        {% endif %}
        <div class="d-flex flex-row mb-2 gap-2">
            <select
                class="flex-grow-1 form-control p-2"
                id="add-new-object-{{ field.id }}" name="add-new-object-{{ field.id }}">
                {% for option in field.unselected %}
                    <option value="{{ option.value }}">{{ option.label }}</option>
                {% endfor %}
            </select>
            <button type="button" class="btn btn-white border border-dark rounded-2 fs-xl p-2" onclick="addValueToSelectMultiple('{{ field.id }}')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
            </button>
        </div>
        <div class="mb-3 bg-light rounded-2 p-2">
            <table class="w-100" id="objects-already-add-for-{{ field.id }}">
                <tr>
                    {% if field.selected.length  == 0  %}
                        <td colspan="4">
                        select a value on select above
                    </td>
                    {% endif %}
                </tr>
            </table>
        </div>
        <div id="selected_data" data-json="{{ field.selected|safe }}"></div>
        <div id="unselected_data" data-json="{{ field.unselected|safe }}" onload="refreshSelectMultipleFields('{{ field.id }}')"></div>
        <input type="hidden" id="{{ field.id }}" name="{{ field.id }}" value="">
    {% elif field.input_type == "datalist" %}
        <input
            class="form-control p-2"
            list="datalist_{{ field.id }}"
            id="{{ field.id }}"
            name="{{ field.id }}"
            {% if field.selected %}value="{{ field.selected }}"{% endif %}
            {% if object_to_edit %}
            _="on focusout if my value is empty set my value to '{{ field.default }}'"
            {% else %}
            _="on click set my value to ''
                  on focusout if my value is empty set my value to '{{ field.default }}'"
            {% endif %}
            required
        >
        <datalist id="datalist_{{ field.id }}">
            <option selected value="select a provider">
        </datalist>
    {% elif field.input_type == "str" %}
        <input type="text" class="form-control p-2" id="{{ field.id }}" name="{{ field.id }}" value="{{ field.default }}"
            {% if object_to_edit %}
               _="on focusout if my value is empty set my value to '{{ field.default }}'"
            {% else %}
               _="on click set my value to ''
                  on focusout if my value is empty set my value to '{{ field.default }}'"
            {% endif %}
               required>
    {% elif field.input_type == "input" %}
        <div class="input-group">
            <input type="number"
                   class="form-control input_with_add_on {% if field.unit != "" %} rounded-start-2 w-75{% else %} rounded-2 w-100 {% endif %} }"
                   id="{{ field.id }}"
                   name="{{ field.id }}"
                   value="{{ field.default }}"
                   step="{{ field.step }}"
                   placeholder="Enter value"
                   required
                {% if field.source %}
                   data-defaultValue="{{ field.default }}"
                   data-sourceName="{{ field.source.name }}"
                   data-sourceLink="{{ field.source.link }}"
                   oninput="updateSource(this)"
                {% endif %}
                {% if not field.can_be_negative %}
                   min="0"
                {% endif %}
            >
            {% if field.unit != "" %}
                <input
                    class="border border-body-tertiary rounded-end-2 bg-light w-25 text-center text-body-tertiary"
                    name="{{ field.id }}_unit"
                    id="{{ field.id }}_unit"
                    value="{{ field.unit }}"
                    readonly
                >
            {% endif %}
        </div>
    {% else %}
        <p>Unexpected dynamic form field input type: {{ field.input_type }}</p>
    {% endif %}
    {% if field.source %}
        <div class="form-text fs-xl" id="source-{{ field.id }}">
            {% if field.source.link %}
                Source : <a target="_blank" class="sources-label" href="{{ field.source.link }}">{{ field.source.name }}
            </a>
            {% else %}
                Source : {{ field.source.name }}
            {% endif %}
        </div>
    {% endif %}
</div>
