{% load custom_filters %}
{% load static %}

<div class="row mb-3">
    <p class="col-auto col-form-label">{{ item.label|capfirst }}</p>
    <div class="col-auto">
        <div class="btn btn-light p-1"
             onclick="openCalculatedAttributesChart('{{ item.attr_name_in_mod_obj_container }}')"
        >
            <img src="{% static 'icons/timeseries-chart.svg' %}" width="16" height="16" alt="calculus-graph-icon">
        </div>
    </div>
    <div class="col-auto">
        <div class="btn btn-light p-1"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-calculated_attributes{{ item.attr_name_in_mod_obj_container }}"
            aria-expanded="false"
            aria-controls="collapse-calculated_attributes{{ item.attr_name_in_mod_obj_container }}"
        >
        <img src="{% static 'icons/formula.svg' %}" width="16" height="16" alt="formula-icon" >
        </div>
    </div>
</div>
<div id="calculated-attribute-chart-data-{{ item.attr_name_in_mod_obj_container }}"
     data-start-date="{{ item.start_date|date:'Y-m-d' }}"
     data-json="{{ item.value.magnitude.tolist|jsonify|safe }}"
     data-label="{{ item.label|capfirst }}"
     data-unit="{{ item.unit|default_if_none:'' }}"
     data-formula="{{ item.explain|explain_format:"explainableHourlyQuantities"|safe }}"
     data-mod-obj-container = "{{ object_to_edit.efootprint_id }}"
     data-attr-name-in-mod-obj-container="{{ item.attr_name_in_mod_obj_container }}"
>
</div>
<div class="collapse" id="collapse-calculated_attributes{{ item.attr_name_in_mod_obj_container }}">
    <div class="card card-body mb-3 no-truncate">
        <p class="mb-3">{{ item.explain|explain_format:"explainableHourlyQuantities"|safe }}</p>
        <a class="btn btn-light btn-sm"
           href="{% url 'display-calculus-graph' object_to_edit.efootprint_id item.attr_name_in_mod_obj_container %}"
           target="_blank">
            See the calculus graph
            <img src="{% static 'icons/calculus-graph.svg' %}" alt="calculus-graph-icon">
        </a>
    </div>
</div>
