{% extends "model_builder/side_panels/edit/edit_form_container.html" %}

{% block edit_form %}
    <form class="my-3"
          autocomplete="off"
          hx-post="/model_builder/edit-object/{{ object_to_edit.efootprint_id }}/"
          hx-swap="none"
          hx-disabled-elt="button"
          hx-on::after-request="closeAndEmptySidePanel()"
          hx-vals="js:{
                        storage_form_data: Object.fromEntries(new FormData(document.getElementById('formStorage')))
                    }"
          id="sidePanelForm"
    >
        {% block edit_form_content %}
            {% include "model_builder/side_panels/edit/edit_form_content.html" %}
        {% endblock %}
    </form>
{% endblock %}
