{% extends "model_builder/side_panels/edit/edit_form_container.html" %}

{% block edit_form %}
    <form class="my-3"
          autocomplete="off"
          id="formStorage"
    >
        {% block edit_form_content %}
            <input type="hidden" value="{{ object_to_edit.efootprint_id }}" name="storage_id" id="storage_id">
            {% include "model_builder/side_panels/components/object_form_content.html" with object_type=object_to_edit.class_as_simple_str %}
        {% endblock %}
    </form>
{% endblock %}
