{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary px-4 py-0">
        <div class="container-fluid py-0">
            <a class="navbar-brand fs-2xl" href="/" id="link-to-home">
                <div class="row">
                    <div class="col-auto px-0">
                        <img src="{% static 'images/logo_without_label.svg' %}" alt="Bootstrap" width="30" height="24" class="d-inline-block align-text-top">
                    </div>
                    <div class="col-auto px-0">
                        <div><b>e</b>-footprint<br></div>
                        <div class="fs-lg">powered by <b>Publicis Sapient</b></div>
                    </div>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
