{% load static label_filters %}
{% with add_label=type_str|add_child_text link_label=type_str|link_child_text %}
{% if disabled %}
{# Bootstrap tooltips don't fire on disabled buttons (no pointer events), so wrap in a span. #}
<span class="flex-grow-1 min-w-0 d-inline-block position-relative"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="{{ disabled_reason }}"
      tabindex="0">
<button
        class="btn btn-white text-end w-100 d-flex flex-row justify-content-end align-items-center rounded-start-2 rounded-end-0 border-2 border-end-0"
        style="pointer-events: none;"
        disabled
>
    <p class="h8 mb-0 text-truncate min-w-0 text-addition px-1">
        {% if compact %}Add{% else %}{{ add_label }}{% endif %}
    </p>
</button>
</span>
{% else %}
<button
        class="btn btn-white text-end flex-grow-1 min-w-0 d-flex flex-row justify-content-end align-items-center rounded-start-2 rounded-end-0 border-2 border-end-0 position-relative"
        hx-get="/model_builder/open-create-object-panel/{{ type_str }}/"
        hx-target="#sidePanel"
        hx-trigger="click"
        hx-swap="innerHTML"
        hx-vals='{"efootprint_id_of_parent_to_link_to": "{{ parent_efootprint_id }}"}'
        hx-disabled-elt="button"
        _="on click removeAllOpenedObjectsHighlights()"
>
    {% if compact %}
    <p class="h8 mb-0 text-truncate min-w-0 text-addition px-1">Add</p>
    {% else %}
    <p class="h8 mb-0 text-truncate min-w-0 text-addition px-1 truncated-text-tooltip"
       data-bs-toggle="tooltip"
       data-bs-placement="top"
       data-bs-title="{{ add_label }}">
        {{ add_label }}
    </p>
    {% endif %}
</button>
{% endif %}
{% if linkable_existing_count %}
<span class="vr"></span>
<button
        class="btn btn-white text-end min-w-0 d-flex flex-row align-items-center rounded-start-0 rounded-end-0 border-2 border-end-0"
        hx-get="/model_builder/open-link-existing-panel/{{ parent_efootprint_id }}/{{ type_str }}/"
        hx-target="#sidePanel"
        hx-trigger="click"
        hx-swap="innerHTML"
        hx-disabled-elt="button"
        _="on click removeAllOpenedObjectsHighlights()"
>
    {% if compact %}
    <p class="h8 mb-0 text-truncate min-w-0 text-secondary px-1">Link existing</p>
    {% else %}
    <p class="h8 mb-0 text-truncate min-w-0 text-secondary px-1 truncated-text-tooltip"
       data-bs-toggle="tooltip"
       data-bs-placement="top"
       data-bs-title="{{ link_label }}">
        {{ link_label }}
    </p>
    {% endif %}
</button>
{% endif %}
{% if not disabled %}
<span class="position-absolute top-50 start-100 translate-middle bg-transparent rounded-circle">
    <img src="{% static 'icons/circle_add_icon.svg' %}" width="14" height="14" class="cursor"
         hx-get="/model_builder/open-create-object-panel/{{ type_str }}/"
         hx-target="#sidePanel"
         hx-trigger="click"
         hx-swap="innerHTML"
         hx-vals='{"efootprint_id_of_parent_to_link_to": "{{ parent_efootprint_id }}"}'
         hx-disabled-elt="button"
         _="on click removeAllOpenedObjectsHighlights()"
    >
    <span class="visually-hidden">{{ add_label }}</span>
</span>
{% endif %}
{% endwith %}
