{% load static %}
{% if disabled %}
{# Bootstrap tooltips don't fire on disabled buttons (no pointer events), so wrap in a span. #}
<span class="{{ btn_extra_classes }} d-block"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="{{ disabled_reason }}"
      tabindex="0">
<button class="btn bg-white dotted-border text-start h8 rounded-3 d-flex flex-row px-0 py-2 w-100"
        id="{{ btn_id }}"
        style="pointer-events: none;"
        disabled
>
    <img src="{% static 'icons/add_icon.svg' %}" class="border-2 border-white mx-3 my-auto" width="16px" height="16px" alt="add icon" />
    {% include 'model_builder/components/truncating_text.html' with visible_text=label extra_classes="text-addition" %}
</button>
</span>
{% else %}
<button class="{{ btn_extra_classes }} btn bg-white dotted-border text-start h8 rounded-3 d-flex flex-row px-0 py-2"
        id="{{ btn_id }}"
        hx-get="{{ hx_url }}"
        hx-target="#sidePanel"
        hx-trigger="click"
        hx-swap="innerHTML"
        hx-disabled-elt="button"
        _="on click removeAllOpenedObjectsHighlights()"
>
    <img src="{% static 'icons/add_icon.svg' %}" class="border-2 border-white mx-3 my-auto" width="16px" height="16px" alt="add icon" />
    {% include 'model_builder/components/truncating_text.html' with visible_text=label extra_classes="text-addition" %}
</button>
{% endif %}
