{% load static %}
<button class="{{ btn_extra_classes }} btn bg-white dotted-border text-start h8 rounded-3 d-flex flex-row px-0 py-2"
        id="{{ btn_id }}"
        hx-get="{{ hx_url }}"
        hx-target="#sidePanel"
        hx-trigger="click"
        hx-swap="innerHTML"
        hx-disabled-elt="button"
        _="on click removeAllOpenedObjectsHighlights()"
>
    <img src="{% static 'icons/add_icon.svg' %}" class="border-2 border-white mx-3 my-auto" width="16px" height="16px" alt="add icon" />
    <p class="mb-0 text-addition">{{ label }}</p>
</button>
