<input
    class="form-control p-2"
    list="datalist_{{ field.web_id }}"
    id="{{ field.web_id }}"
    name="{{ field.web_id }}"
    {% if field.selected %}value="{{ field.selected }}"{% endif %}
    {% if object_to_edit %}
    _="on focusout if my value is empty set my value to '{{ field.default }}' then updateSource(@id)"
    {% else %}
    _="on click set my value to ''
          on focusout if my value is empty set my value to '{{ field.default }}' then updateSource(@id)"
    {% endif %}
    data-default-value="{{ field.default }}"
    data-default-name="{{ field.source.name }}"
    data-source-url="{{ field.source.link }}"
    oninput="updateSource(this.id);tagFormAsModified()"
    required
>
<datalist id="datalist_{{ field.web_id }}">
    <option selected value="select a provider">
</datalist>
