<div class="input-group">
    <input type="number"
           class="form-control input_with_add_on {% if field.unit != "" %} rounded-start-2 w-75{% else %} rounded-2 w-100 {% endif %} }"
           id="{{ field.web_id }}"
           name="{{ field.web_id }}"
           value="{{ field.default }}"
           step="{{ field.step }}"
           placeholder="Enter value"
           required
        {% if field.source %}
           data-default-value="{{ field.default }}"
           data-default-name="{{ field.source.name }}"
           data-source-url="{{ field.source.link }}"
           oninput="updateSource(this.id);tagFormAsModified();"
        {% endif %}
        {% if not field.can_be_negative %}
           min="0"
        {% endif %}
    >
    {% if field.unit != "" %}
        <input
            class="border border-body-tertiary rounded-end-2 bg-light w-25 text-center text-body-tertiary"
            name="{{ field.web_id }}_unit"
            id="{{ field.web_id }}_unit"
            value="{{ field.unit }}"
            readonly
        >
    {% endif %}
</div>
