<div class="row gy-0 p-0 m-0 w-100">
    <div class="col-auto">
        <label for="select-new-object-{{ field.web_id }}" class="form-label">
            {{ field.label|capfirst }}
        </label>
    </div>
    <div class="mb-3 bg-light rounded-2 p-2">
        <table class="w-100" id="objects-already-selected-for-{{ field.web_id }}">
            <tr>
                {% if field.selected.length  == 0  %}
                    <td colspan="4">
                        select a value on select above
                    </td>
                {% endif %}
            </tr>
        </table>
    </div>
    {% if field.tooltip %}
        {% include "model_builder/side_panels/components/tooltip.html" %}
    {% endif %}
    <div class="col-auto">
        <p class="form-label">
            Other existing ones you can reuse
        </p>
    </div>
</div>
<div class="d-flex flex-row mb-2 gap-2">
    <select
        class="form-select flex-grow-1 form-control p-2"
        id="select-new-object-{{ field.web_id }}" name="select-new-object-{{ field.web_id }}"
    >
        {% for option in field.unselected %}
            <option value="{{ option.value }}">{{ option.label }}</option>
        {% endfor %}
    </select>
    <button
            id="add-btn-{{ field.web_id }}"
            type="button"
            class="btn btn-white border border-dark rounded-2 fs-xl p-2"
            onclick="tagFormAsModified();addValueToSelectMultiple('{{ field.web_id }}')">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
    </button>
</div>
<div id="selected_data" data-json="{{ field.selected|safe }}"></div>
<div id="unselected_data" data-json="{{ field.unselected|safe }}"></div>
<input type="hidden" id="{{ field.web_id }}" name="{{ field.web_id }}" value="">

<script>
    refreshSelectMultipleFields('{{ field.web_id }}');
</script>
