<select
    class="form-control p-2"
    id="{{ field.web_id }}"
    name="{{ field.web_id }}"
    required
    data-default-value="{{ field.default }}"
    data-default-name="{{ field.source.name }}"
    data-source-url="{{ field.source.link }}"
    data-source-attribute-to-skip = "{{ field.source_attribute_to_skip }}"
    oninput="updateSource(this.id);tagFormAsModified()"
>
    {% for option in field.options %}
        <option value="{{ option.value }}" {% if option.value == field.selected %}selected{% endif %}>
            {{ option.label }}</option>
    {% endfor %}
</select>
