<div id="{{ job.web_id }}" class="w-85 ms-15 px-0 py-1 leader-line-object"
    data-link-to="{{ job.links_to }}" data-line-opt="{{ job.data_line_opt }}">
    {# TODO: Replace placeholder with actual url_for for model_builder.open_edit_object_panel #}
    <button
            id="button-{{ job.web_id }}"
            class="btn btn-white text-end w-100 px-3 d-flex flex-row justify-content-end align-items-center rounded-start-2 rounded-end-0 border-2 border-end-0 position-relative"
            hx-get="{{ url_for('model_builder_placeholder_open_edit_object_panel', object_id=job.efootprint_id) }}"
            hx-target="#sidePanel"
            hx-trigger="click"
            hx-swap="innerHTML"
            hx-disabled-elt="button"
            _="
                on click removeAllOpenedObjectsHighlights() add .model-builder-card-opened on me
                on mouseover remove .d-none from #edit-icon-{{ job.web_id }}
                on mouseout add .d-none to #edit-icon-{{ job.web_id }}
            "
    >
        {% include 'model_builder/components/button_card_header.html' with object_card=job %}
    </button>
</div>
