{% load static %}

<div class="row align-items-center mb-3">
    <label for="calculated_attributes-{{ item.attr_name_in_mod_obj_container }}" class="col-auto col-form-label">
        {{ item.attr_name_web|capfirst }}:
    </label>

    <div class="col-auto">
        <input disabled
               name="calculated_attributes-{{ item.attr_name_in_mod_obj_container }}"
               id="calculated_attributes-{{ item.attr_name_in_mod_obj_container }}"
               value="{{ item.value }}"
               class="form-control form-control-sm"
        >
    </div>
    <div class="col-auto d-flex gap-1">
        {% include "model_builder/side_panels/edit/calculated_attributes/components/get_calculated_attribute_explanation_button.html" %}
        {% include "model_builder/side_panels/edit/calculated_attributes/components/calculus_graph_link.html" %}
    </div>
</div>

<div class="collapse" id="collapse-calculated_attributes-{{ item.attr_name_in_mod_obj_container }}"></div>

