{% extends "model_builder/side_panels/side_panel_structure.html" %}

{% block panel_body %}
    <form id="sidePanelForm" class="my-3"
        hx-post="/model_builder/add-object/{{ object_type }}/"
        hx-target="#edge-device-groups-list"
        hx-swap="beforeend"
        hx-disabled-elt="button"
        hx-on::after-request="closeAndEmptySidePanel()"
    >
        {% include "model_builder/side_panels/add/add_form_content.html" %}

        <div class="mb-3 accordion accordion-panel" id="accordion-edge-device-group-members">
            <div class="accordion-item rounded-bottom-2" id="item-edge-device-group-members">
                <h2 class="accordion-header rounded-bottom-2">
                    <button class="accordion-button fs-3xl rounded-bottom-2" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapse_edge_device_group_members"
                            aria-expanded="true" aria-controls="collapse_edge_device_group_members">
                        Group members
                    </button>
                </h2>
                <div id="collapse_edge_device_group_members" class="accordion-collapse show">
                    <div class="accordion-body">
                        {% for field in dict_count_fields %}
                            {% include "model_builder/side_panels/dynamic_form_fields/dict_count.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>

    <p class="mb-3 mt-4">
        You will be able to edit all attributes of the created {{ obj_formatting_data.label|lower }} later by clicking on the object card.
    </p>
{% endblock %}
