<div class="mb-3">
    <div class="accordion accordion-panel" id="accordionFormAdd">
        {%for form_section in form_sections %}
        <div class="accordion-item {% if forloop.counter > 1 %}rounded-bottom-2{% endif %}" id="item-{{ form_section.category }}">
            <h2 class="accordion-header {% if forloop.counter > 1 %}rounded-bottom-2{% endif %}">
                <button class="accordion-button fz-1 {% if forloop.counter > 1 %}rounded-bottom-2{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ form_section.category }}_{{obj_type}}" aria-expanded="true" aria-controls="collapse_{{ form_section.category }}_{{obj_type}}">
                    {{ form_section.header }}
                </button>
            </h2>
            <div id="collapse_{{ form_section.category }}_{{obj_type}}"
                 class="accordion-collapse show" data-bs-parent="accordionFormAdd">
                <div class="accordion-body">
                    {% for field in form_section.fields %}
                        {% include "model_builder/side_panels/components/dynamic_form_field.html" %}
                    {% endfor %}
                    {% if form_section.advanced_fields|length > 0 %}
                        <div id="advanced-{{ form_section.category }}" class="d-none mb-3">
                            {% for field in form_section.advanced_fields %}
                                {% include "model_builder/side_panels/components/dynamic_form_field.html" %}
                            {% endfor %}
                        </div>
                        <button type="button" class="btn btn-white border border-dark rounded-2 fz-0-8 mb-3"
                                id="display-advanced-{{ form_section.category }}"
                                _="on click
                                    if #advanced-{{ form_section.category }}.classList.contains('d-none')
                                        remove .d-none from #advanced-{{ form_section.category }}
                                        add .d-block to #advanced-{{ form_section.category }}
                                        put 'Hide advanced options' into me.innerText
                                    else
                                        remove .d-block from #advanced-{{ form_section.category }}
                                        add .d-none to #advanced-{{ form_section.category }}
                                        put 'Show advanced options' into me.innerText
                                "
                               >
                            Show advanced options
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{{ dynamic_form_data|json_script:"dynamic-form-data" }}
