{% extends "model_builder/side_panels/side_panel_structure.html" %}

{% block panel_body %}
    {% if obj_formatting_data.pre_addition_help %}
        <p>
            {{ obj_formatting_data.pre_addition_help }}
        </p>
    {% endif %}
    {% block add_form %}
        <form id="sidePanelForm" class="my-3"
            hx-post="/model_builder/add-object/{{ object_type }}/"
            {% if htmx_config.hx_vals %}
              hx-vals='{{ htmx_config.hx_vals|safe }}'
            {% endif %}
            {% if htmx_config.hx_target %}
              hx-target="{{ htmx_config.hx_target }}"
            {% endif %}
            {% if htmx_config.hx_swap %}
              hx-swap="{{ htmx_config.hx_swap }}"
            {% endif %}
            hx-disabled-elt="button"
            hx-on::after-request="closeAndEmptySidePanel()"
    >
        {% include "model_builder/side_panels/add/add_form_content.html" %}
    </form>
    {% endblock %}
    {% if obj_formatting_data.post_addition_help %}
        <p>
            {{ obj_formatting_data.post_addition_help }}
        </p>
    {% endif %}

    <p class="mb-3 mt-4">
        You will be able to edit all attributes of the created {{ obj_formatting_data.label|lower }} later by clicking on the object card.
    </p>

    <div class="mb-3">
        <button
                id="btn-submit-form"
                class="btn btn-primary rounded-pill w-100"
                onclick="
                    addEmptyValueWhenSelectMultipleFieldsHaveNoSelectedOption();
                    setRecomputationToTrueIfResultPaneIsOpen();
                    document.getElementById('sidePanelForm').requestSubmit()"
        >
            Save
        </button>
    </div>
{% endblock %}
