{% extends "model_builder/side_panels/side_panel_structure.html" %}

{% block panel_body %}
    <form id="sidePanelForm" class="my-3"
        hx-post="/model_builder/add-object/{{ object_type }}/"
        hx-target="#edge-device-groups-list"
        hx-swap="beforeend"
        hx-disabled-elt="button"
        hx-on::after-request="closeAndEmptySidePanel()"
    >
        {% for form_section in form_sections %}
            {% include "model_builder/side_panels/object_form_content.html" with form_fields=form_section.fields form_fields_advanced=form_section.advanced_fields object_type=form_section.category %}
        {% endfor %}

        {% for field in dict_count_fields %}
            {% include "model_builder/side_panels/dynamic_form_fields/dict_count.html" %}
        {% endfor %}
    </form>

    <p class="mb-3 mt-4">
        You will be able to edit all attributes of the created {{ obj_formatting_data.label|lower }} later by clicking on the object card.
    </p>
{% endblock %}
