{% extends "model_builder/side_panels/side_panel_structure.html" %}

{% block panel_body %}
    {% block add_form %}
    {% endblock %}

    <div class="mb-3">
            <p class="mt-4">
                You will be able to edit all attributes of the created {{ obj_label|lower }} later by clicking on the object card.
            </p>
        </div>

    <div class="mb-3">
        <button
                id="btn-submit-form"
                class="btn btn-primary rounded-pill w-100"
                onclick="
                    addEmptyValueWhenSelectMultipleFieldsHaveNoSelectedOption();
                    setRecomputationToTrueIfResultPaneIsOpen();
                    document.getElementById('sidePanelForm').requestSubmit()"
        >
            Save
        </button>
    </div>
{% endblock %}
