{% extends "model_builder/side_panels/side_panel_structure.html" %}

{% block panel_body %}
    {% if obj_formatting_data.pre_addition_help %}
        <p>
            {{ obj_formatting_data.pre_addition_help }}
        </p>
    {% endif %}
    {% block add_form %}
        <form id="sidePanelForm" class="my-3"
            hx-post="/model_builder/add-object/{{ object_type }}/"
            {% if htmx_config.hx_vals %}
              hx-vals='{{ htmx_config.hx_vals|safe }}'
            {% endif %}
            {% if htmx_config.hx_target %}
              hx-target="{{ htmx_config.hx_target }}"
            {% endif %}
            {% if htmx_config.hx_swap %}
              hx-swap="{{ htmx_config.hx_swap }}"
            {% endif %}
            hx-disabled-elt="button"
            hx-on::after-request="closeAndEmptySidePanel()"
    >
        {% if parent_link_count_field %}
            <div class="dict-membership-row mb-3">
                <label class="dict-membership-name mb-0" for="parent_link_count">
                    {{ parent_link_count_field.label }} ({{ parent_link_count_field.parent_name }})
                </label>
                <input type="number" class="count-inline-edit form-control form-control-sm" id="parent_link_count"
                       name="parent_link_count" value="1" min="0" step="0.1">
            </div>
        {% endif %}
        {% include "model_builder/side_panels/add/add_form_content.html" %}
    </form>
    {% endblock %}
    {% if obj_formatting_data.post_addition_help %}
        <p>
            {{ obj_formatting_data.post_addition_help }}
        </p>
    {% endif %}

    <p class="mb-3 mt-4">
        You will be able to edit all attributes of the created {{ obj_formatting_data.label|lower }} later by clicking on the object card.
    </p>
{% endblock %}
