{% extends "model_builder/side_panels/add/add_panel__generic.html" %}

{% block add_form %}
    <form id="sidePanelForm" class="my-3"
            hx-post="{% url 'add-new-object' 'EdgeUsageJourney' %}"
            hx-target="#uj-list"
            hx-swap="beforeend"
            hx-disabled-elt="button"
            hx-on::after-request="closeAndEmptySidePanel()"
    >
        {% for field in form_fields %}
            {% include "model_builder/side_panels/dynamic_form_fields/dynamic_form_field.html" %}
        {% endfor %}
    </form>
{% endblock %}
