{% extends "model_builder/side_panels/add/add_panel__generic.html" %}

{% block add_form %}
    <form id="sidePanelForm" class="my-3"
                hx-post="{% url 'add-new-object' 'UsageJourneyStep' %}"
                hx-swap="none"
                hx-disabled-elt="button"
                hx-on::after-request="closeAndEmptySidePanel()"
                hx-vals='{"efootprint_id_of_parent_to_link_to": "{{ efootprint_id_of_parent_to_link_to }}"}'
    >
        {% for field in form_fields %}
            {% include "model_builder/side_panels/dynamic_form_fields/dynamic_form_field.html" %}
        {% endfor %}
    </form>
{% endblock %}
