{% load label_filters %}
{% if object_belongs_to_computable_system and object_to_edit.calculated_attributes|length > 0 %}
    <div class="accordion-item">
        <h2 class="accordion-header accordion-header-panel">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseCalculatedAttributes{{ object_to_edit.class_as_simple_str }}"
                    aria-expanded="false" aria-controls="collapseCalculatedAttributes">
                {{ object_to_edit.class_as_simple_str|class_label }} calculated attributes
            </button>
        </h2>
        <div id="collapseCalculatedAttributes{{ object_to_edit.class_as_simple_str }}"
             class="accordion-collapse collapse" data-bs-parent="#accordionAllAttributes">
            <div class="accordion-body gy-2">
                {% for item in object_to_edit.calculated_attributes_values %}
                    {% include "model_builder/side_panels/edit/calculated_attributes/"|add:item.class_as_snake_str|add:".html" %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
