{% load label_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculus graph</title>
    <style>
        html, body{
            height: 100%;
            background-color: #fefefe;
        }
        .graph-container {
            border: 1px solid #AAA;
            border-radius: 10px;
            width: 90%;
            margin-left: 5%;
            height: {{ iframe_height }}%;
        }
        .title-graph {
            margin-left: 5%;
            font-size: 1.2em;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <p class="title-graph">
        {{ graph.calculated_attribute.attr_name_web|field_label }} in {{ graph.calculated_attribute.modeling_obj_container.name }}
        {% if graph.calculated_attribute.dict_container %}
            : data for usage pattern {{ graph.calculated_attribute.key_in_dict.name }}
        {% endif %}
    </p>
    <iframe class="graph-container" src="{{ graph.url }}" frameborder="0"></iframe>
</body>
</html>
