{% load static %}
{% include 'model_builder/upload_download_reboot_model_tooltips.html' %}
<div class="position-relative mx-0 d-flex flex-row overflow-hidden w-100" id="model-builder-page">
    <div class="scrollable-area w-100 overflow-x-auto" id="model-canva-scrollable-area">
        <div class="d-flex flex-row" id="model-canva">
            <div class="equal-width p-2">
                <div class="d-flex flex-column text-start rounded-4 list-object-efootprint px-4 pt-4 pb-2" id="usage-pattern-container">
                    <h5><b>Usage patterns</b></h5>
                    {% include 'model_builder/components/add_object_button.html' with btn_id="add_usage_pattern" hx_url="/model_builder/open-create-object-panel/UsagePattern/" label="Add usage pattern" btn_extra_classes="w-75 mb-3" %}
                    {% include 'model_builder/components/add_object_button.html' with btn_id="add_edge_usage_pattern" hx_url="/model_builder/open-create-object-panel/EdgeUsagePattern/" label="Add edge usage pattern" btn_extra_classes="w-75 mb-3" %}
                    <div id="up-list" class="list-group w-75 ps-0 pb-0">
                        {% for usage_pattern in model_web.usage_patterns %}
                        {% include 'model_builder/object_cards/usage_pattern_card.html' with object=usage_pattern %}
                        {% endfor %}
                        {% for edge_usage_pattern in model_web.edge_usage_patterns %}
                        {% include 'model_builder/object_cards/usage_pattern_card.html' with object=edge_usage_pattern %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="equal-width p-2">
                <div class="d-flex flex-column text-start rounded-4 list-object-efootprint px-4 pt-4 pb-2" id="usage-journey-container">
                     <h5><b>Usage journeys</b></h5>
                    {% include 'model_builder/components/add_object_button.html' with btn_id="btn-add-usage-journey" hx_url="/model_builder/open-create-object-panel/UsageJourney/" label="Add usage journey" btn_extra_classes="w-100 mb-3" %}
                    {% include 'model_builder/components/add_object_button.html' with btn_id="btn-add-edge-usage-journey" hx_url="/model_builder/open-create-object-panel/EdgeUsageJourney/" label="Add edge usage journey" btn_extra_classes="w-100 mb-3" %}
                    <div id="uj-list" class="list-group w-100 ps-0">
                        {% for usage_journey in model_web.usage_journeys %}
                        {% include 'model_builder/object_cards/journey_card.html' with object=usage_journey %}
                        {% endfor %}
                        {% for edge_usage_journey in model_web.edge_usage_journeys %}
                        {% include 'model_builder/object_cards/journey_card.html' with object=edge_usage_journey %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="equal-width p-2">
                <div class="d-flex flex-column text-start rounded-4 list-object-efootprint px-4 pt-4 pb-2" id="server-container">
                    <h5><b>Infrastructure</b></h5>
                    <div class="d-grid gap-3 mb-3" style="grid-template-columns: 1fr 1fr;">
                        {% include 'model_builder/components/add_object_button.html' with btn_id="btn-add-server" hx_url="/model_builder/open-create-object-panel/ServerBase/" label="Add server" btn_extra_classes="" %}
                        {% include 'model_builder/components/add_object_button.html' with btn_id="btn-add-external-api" hx_url="/model_builder/open-create-object-panel/ExternalAPI/" label="Add external API" btn_extra_classes="" %}
                        {% include 'model_builder/components/add_object_button.html' with btn_id="btn-add-edge-device" hx_url="/model_builder/open-create-object-panel/EdgeDeviceBase/" label="Add edge device" btn_extra_classes="" %}
                    </div>
                    <div id="external-api-list" class="list-group d-flex flew-column w-75 ms-25">
                        {% for external_api in model_web.external_apis %}
                            {% include 'model_builder/object_cards/usage_pattern_card.html' with object=external_api %}
                        {% endfor %}
                    </div>
                    <div id="server-list" class="list-group d-flex flew-column w-75 ms-25">
                        {% for server in model_web.servers %}
                            {% include 'model_builder/object_cards/server_card.html' with object=server %}
                        {% endfor %}
                    </div>
                    <div id="edge-devices-list" class="list-group d-flex flew-column w-75 ms-25">
                        {% for edge_device in model_web.edge_devices %}
                            {% include 'model_builder/object_cards/edge_device_card.html' with object=edge_device %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none transition-width pb-3 overflow-y-auto bg-white overflow-y-auto z-2" id="sidePanel"></div>
    <div class="position-absolute bottom-0 start-0 w-100 bg-transparent text-start border-0 z-3 p-0" id="panel-result-btn">
        <div class="w-100 text-center h6 text-start bg-white rounded-2 shadow-sm-up h-100" id="btn-open-panel-result"
            hx-get="/model_builder/result-chart/"
            hx-target="#result-block"
            hx-swap="innerHTML"
            hx-trigger="click"
            hx-disabled-elt="button"
        >
            <div class="row h-100 text-start align-items-center">
                <div class="col-4">
                    <p class="h5 my-0 ms-3">Results</p>
                </div>
                <div class="col-4 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894z"/>
                    </svg>
                </div>
            </div>
        </div>
        <div id="result-block" class="bg-transparent overflow-y-auto pt-1"></div>
    </div>
</div>

<button id="model-scroll-to-right"
    class="d-block d-xl-none position-absolute top-50 end-0 top-0 border-0 rounded-start-circle bg-white border shadow text-black py-3 ps-2 pe-1 z-1"
        onclick="scrollToRight()"
>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>
</button>

<button id="model-scroll-to-left"
    class="d-block d-xl-none position-absolute top-50 start-0 border-0 rounded-end-circle bg-white border shadow text-black py-3 ps-2 pe-1 z-1"
        onclick="scrollToLeft()"
>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
      <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
    </svg>
</button>

{% include 'model_builder/side_panels/timeseries_chart.html' %}
<div id="chart-calculated-attribute" class="chart-calculated-attribute text-start shadow-custom z-3 d-none d-flex
flex-column align-items-start overflow-y-auto overflow-x-hidden"></div>


{% include 'model_builder/components/toast.html' %}

<div id="modal-container">
</div>

<div id="loader-container">
</div>

{% include "model_builder/modals/import_error_modal.html" with modal_id=import_error_modal_id message=import_error_message %}

{% include "model_builder/modals/warn_before_side_panel_closing_modal.html" with message="The currently opened side panel has pending changes. Would you like to continue and lose them ?" modal_id="unsavedModal" %}

<!--
<div id="leaderlines-layer" class="position-absolute top-0 start-0 w-100 h-100"></div>
-->
