{% load static %}
{% include 'model_builder/upload_download_reboot_model_tooltips.html' %}
<div class="position-relative mx-0 d-flex flex-row overflow-hidden w-100" id="model-builder-page">
    <div class="scrollable-area w-100 overflow-x-auto" id="model-canva-scrollable-area">
        <div class="d-flex flex-row" id="model-canva">
            {% include 'model_builder/components/model_canvas_content.html' %}
        </div>
    </div>
    <div class="d-none transition-width pb-3 overflow-y-auto bg-white overflow-y-auto z-3" id="sidePanel"></div>
    <div class="position-absolute bottom-0 start-0 w-100 bg-transparent text-start border-0 z-3 p-0" id="panel-result-btn">
        {% include 'model_builder/components/results_bar_button.html' %}
        <div id="result-block" class="bg-transparent overflow-y-auto overflow-x-hidden pt-1"></div>
    </div>
</div>

<button id="model-scroll-to-right"
    class="d-block d-xl-none position-absolute top-50 end-0 top-0 border-0 rounded-start-circle bg-white border shadow text-black py-3 ps-2 pe-1 z-1"
        onclick="scrollToRight()"
>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>
</button>

<button id="model-scroll-to-left"
    class="d-block d-xl-none position-absolute top-50 start-0 border-0 rounded-end-circle bg-white border shadow text-black py-3 ps-2 pe-1 z-1"
        onclick="scrollToLeft()"
>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
      <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
    </svg>
</button>

{% include 'model_builder/side_panels/timeseries_chart.html' %}
<div id="chart-calculated-attribute" class="chart-calculated-attribute text-start shadow-custom z-3 d-none
flex-column align-items-start overflow-y-auto overflow-x-hidden"></div>


{% include 'model_builder/components/toast.html' %}

<div id="modal-container">
</div>

<div id="loader-container">
</div>

{% include "model_builder/modals/import_error_modal.html" with modal_id=import_error_modal_id message=import_error_message %}

{% include "model_builder/modals/warn_before_side_panel_closing_modal.html" with message="The currently opened side panel has pending changes. Would you like to continue and lose them ?" modal_id="unsavedModal" %}

<div id="leaderlines-layer" class="position-absolute top-0 start-0 w-100 h-100"></div>
