<div class="mb-3">
    <label for="start_date" class="form-label">Start date</label>
    <input type="text" class="form-control p-2"
           name="start_date"
           id="start_date"
           value="{{ usage_pattern_input_values.start_date.value }}"
           data-default-value="{{ usage_pattern_input_values.start_date.value }}"
           data-default-name="{{ usage_pattern_input_values.start_date.source.name }}"
           data-source-url="{{ usage_pattern_input_values.start_date.source.link }}"
           _="on input updateSource(@id) then openOrCloseTimeseriesChartAndTriggerUpdate()"
           required
    >
    {% include "model_builder/side_panels/components/source.html" with source_id="start_date" %}
</div>
<div class="mb-3">
    <label for="modeling_duration_value" class="form-label w-100">Modeling duration</label>
    <div class="input-group">
        <input type="number" class="form-control input_with_add_on"
               name="modeling_duration_value"
               id="modeling_duration_value"
               value="{{ usage_pattern_input_values.modeling_duration_value.magnitude|floatformat }}"
               max=
                   {% if usage_pattern_input_values.modeling_duration_unit.value == "year" %}10{% else %}120{% endif %}
               _="on input if my value is not empty applyMaxLimitOnModelingDurationValue()
                then updateSource('modeling_duration_value')
                then openOrCloseTimeseriesChartAndTriggerUpdate()
                "
               aria-describedby="basic-addon3 basic-addon4"
               required
               data-default-value="{{ usage_pattern_input_values.modeling_duration_value.value }}"
               data-default-name="{{ usage_pattern_input_values.modeling_duration_value.source.name }}"
               data-source-url="{{ usage_pattern_input_values.modeling_duration_value.source.link }}"
               data-associated-unit-id="modeling_duration_unit"
        >
        <select class="input-group-text"
                name="modeling_duration_unit"
                id="modeling_duration_unit"
                _="
                on change
                    if my value is 'year' then
                        set {max:10} on #modeling_duration_value
                    else
                        set {max:120} on #modeling_duration_value
                    end
                    updateSource('modeling_duration_value')
                    then applyMaxLimitOnModelingDurationValue()
                    then openOrCloseTimeseriesChartAndTriggerUpdate()
                "
                data-default-value="{{ usage_pattern_input_values.modeling_duration_unit.value }}"
                data-default-name="{{ usage_pattern_input_values.modeling_duration_unit.source.name }}"
                data-source-url="{{ usage_pattern_input_values.modeling_duration_unit.source.link }}"
        >
            <option value="month" {% if usage_pattern_input_values.modeling_duration_unit.value == "month" %}selected{% endif %}>Months</option>
            <option value="year" {% if usage_pattern_input_values.modeling_duration_unit.value == "year" %}selected{% endif %}>Years</option>
        </select>
    </div>
    {% include "model_builder/side_panels/components/source.html" with source_id="modeling_duration_value" %}
    <div class="hidden text-danger fs-xl" id="modeling_duration_value_error_message"></div>
</div>
<div class="mb-3">
    <label for="initial_usage_journey_volume" class="form-label w-100">Initial number of usage journeys</label>
    <div class="input-group">
        <input type="number" class="form-control input_with_add_on"
               name="initial_usage_journey_volume"
               id="initial_usage_journey_volume"
               min="0"
               value="{{ usage_pattern_input_values.initial_usage_journey_volume.magnitude|floatformat }}"
               placeholder="Input a number"
               _="on input openOrCloseTimeseriesChartAndTriggerUpdate()
               then updateSource(@id)"
               aria-describedby="basic-addon3 basic-addon4"
               required
               data-default-value="{{ usage_pattern_input_values.initial_usage_journey_volume.value }}"
               data-default-name="{{ usage_pattern_input_values.initial_usage_journey_volume.source.name }}"
               data-source-url="{{ usage_pattern_input_values.initial_usage_journey_volume.source.link }}"
               data-associated-unit-id="initial_usage_journey_volume_timespan"
        >
        <select class="input-group-text"
                name="initial_usage_journey_volume_timespan"
                id="initial_usage_journey_volume_timespan"
                _="on change openOrCloseTimeseriesChartAndTriggerUpdate()
                then updateSource(initial_usage_journey_volume)"
                data-default-value="{{ usage_pattern_input_values.initial_usage_journey_volume_timespan.value }}"
               data-default-name="{{ usage_pattern_input_values.initial_usage_journey_volume_timespan.source.name }}"
               data-source-url="{{ usage_pattern_input_values.initial_usage_journey_volume_timespan.source.link }}"
        >
            <option value="month" {% if usage_pattern_input_values.initial_usage_journey_volume_timespan.value == "month" %}selected{% endif %}>Monthly</option>
            <option value="year" {% if usage_pattern_input_values.initial_usage_journey_volume_timespan.value == "year" %}selected{% endif %}>Yearly</option>
        </select>
    </div>
    {% include "model_builder/side_panels/components/source.html" with source_id="initial_usage_journey_volume" %}
</div>
<div class="mb-3">
    <label for="net_growth_rate_in_percentage" class="form-label w-100">Net growth rate (%)</label>
    <div class="input-group">
        <input type="number"
               class="form-control input_with_add_on"
               name="net_growth_rate_in_percentage"
               id="net_growth_rate_in_percentage"
               min="0"
               _="on input openOrCloseTimeseriesChartAndTriggerUpdate() then updateSource(@id)"
               value="{{ usage_pattern_input_values.net_growth_rate_in_percentage.magnitude|floatformat }}"
               aria-describedby="basic-addon3 basic-addon4"
               required
               data-default-value="{{ usage_pattern_input_values.net_growth_rate_in_percentage.value }}"
               data-default-name="{{ usage_pattern_input_values.net_growth_rate_in_percentage.source.name }}"
               data-source-url="{{ usage_pattern_input_values.net_growth_rate_in_percentage.source.link }}"
               data-associated-unit-id="net_growth_rate_timespan"
        >
        <select class="input-group-text"
                name="net_growth_rate_timespan"
                id="net_growth_rate_timespan"
                _="on change openOrCloseTimeseriesChartAndTriggerUpdate() then updateSource(net_growth_rate_in_percentage)"
                data-default-value="{{ usage_pattern_input_values.net_growth_rate_timespan.value }}"
               data-default-name="{{ usage_pattern_input_values.net_growth_rate_timespan.source.name }}"
               data-source-url="{{ usage_pattern_input_values.net_growth_rate_timespan.source.link }}"
        >
            <option value="month" {% if usage_pattern_input_values.net_growth_rate_timespan.value == "month" %}selected{% endif %}>Monthly</option>
            <option value="year" {% if usage_pattern_input_values.net_growth_rate_timespan.value == "year" %}selected{% endif %}>Yearly</option>
        </select>
    </div>
    {% include "model_builder/side_panels/components/source.html" with source_id="net_growth_rate_in_percentage" %}
</div>

<script>
    flatpickr('#start_date', {
        enableTime: false,
        dateFormat: "Y-m-d"
    });
    openOrCloseTimeseriesChartAndTriggerUpdate();
</script>
