{% extends "model_builder/side_panels/add/add_panel__generic.html" %}

{% block add_form %}
    <form id="sidePanelForm" class="my-3"
            hx-post="{% url 'add-new-object' 'UsagePatternFromForm' %}"
            hx-target="#up-list"
            hx-swap="beforeend"
            hx-disabled-elt="button"
            hx-on::after-request="closeAndEmptySidePanel()"
    >
        <p class="my-2">
            Create a new usage pattern by linking it to a usage journey and defining the device the usage journey runs on, the network, the country, and the usage volume over time.
        </p>
        <div class="accordion" id="accordionFormUsagePattern">
            <div class="accordion-item">
                <h2 class="accordion-header accordion-header-panel">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-attribute-link-to-other-objet" aria-expanded="true" aria-controls="collapse-attribute-link-to-other-objet">
                        Usage pattern attributes
                    </button>
                </h2>
                <div id="collapse-attribute-link-to-other-objet" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        {% for field in form_fields %}
                            {%  include "model_builder/side_panels/components/dynamic_form_field.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header accordion-header-panel">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-attribute-timeseries-attributes" aria-expanded="true" aria-controls="collapse-attribute-timeseries-attributes">
                        Help me to build my time series
                    </button>
                </h2>
                <div id="collapse-attribute-timeseries-attributes" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        {% include "model_builder/side_panels/usage_pattern/timeseries_form.html" %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
