{% extends "model_builder/side_panels/add/add_panel__generic.html" %}

{% block add_form %}
    <form id="sidePanelForm"
                hx-post="{% url 'add-new-object' 'Job' %}"
                hx-vals='{"efootprint_id_of_parent_to_link_to": "{{ efootprint_id_of_parent_to_link_to }}"}'
                hx-swap="none"
                hx-disabled-elt="button"
                hx-on::after-request="closeAndEmptySidePanel()"
    >
       {% with helper_message="To get support in defining your job, first create a server and add services to it." %}
            {% include "model_builder/side_panels/add/add_form_content.html" %}
        {% endwith %}
    </form>
{% endblock %}
