<div class="container-fluid text-start py-3 z-2" id="sidePanelContent">
    <div class="form-header" id="panel-header">
        <div class="w-100 text-end d-flex flex-row align-items-center mb-3 justify-content-between">
            <h5 id="sidePanelTitle" class="m-0 p-2 text-start">
                <b>{{ header_name }}</b>
            </h5>
            {% block link_to_delete_object %}
            {% endblock %}
            {% include "model_builder/side_panels/components/close_side_panel_cross.html" %}
        </div>
    </div>
    <div class="panel-body" id="panel-body">
        <div class="row text-start">
            <div class="col-12 mb-3">
                {% block panel_body %}
                {% endblock %}
            </div>
        </div>
    </div>
    {{ dynamic_form_data|json_script:"dynamic-form-data" }}
</div>

<script>
    openSidePanel();
    window.popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"][data-location="side_panel"]')
    window.popoverList = [...window.popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
