{% extends "model_builder/side_panels/add/add_panel__generic.html" %}

{% block add_form %}
    <form id="sidePanelForm" class="my-3"
            hx-post="{% url 'add-new-object' 'UsageJourney' %}"
            hx-target="#uj-list"
            hx-swap="beforeend"
            hx-disabled-elt="button"
            hx-on::after-request="closeAndEmptySidePanel()"
    >
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text"
                   class="form-control p-2"
                   id="name"
                   name="name"
                   required
                   value="{{ obj_type }} {{ next_efootprint_object_rank }}">
        </div>
        {% for field in form_fields %}
            {% include "model_builder/side_panels/components/dynamic_form_field.html" %}
        {% endfor %}

        <div class="mb-3">
            <p>
               If you want to reuse steps that already exist in other usage journeys, select them in uj_steps.
            </p>
        </div>
    </form>
{% endblock %}
