{% load static %}
<button type="button"
        hx-get="{% url 'get_calculated_attribute_explanation' item.modeling_obj_container.efootprint_id item.attr_name_in_mod_obj_container %}"
        hx-target="#collapse-calculated_attributes-{{ item.attr_name_in_mod_obj_container }}"
        hx-trigger="click once"
        hx-swap="innerHTML"
        hx-disabled-elt="button"
        class="btn btn-light p-1"
        data-bs-toggle="collapse"
        data-bs-target="#collapse-calculated_attributes-{{ item.attr_name_in_mod_obj_container }}"
        aria-expanded="false"
        aria-controls="collapse-calculated_attributes-{{ item.attr_name_in_mod_obj_container }}">
    <img src="{% static 'icons/formula.svg' %}" width="16" height="16" alt="formula-icon">
</button>
