{% extends "model_builder/modals/modal_template.html" %}

{% block modal-footer %}
    <button type="button" class="btn btn-danger rounded-2 px-4 py-3 mb-3"
            data-bs-dismiss="modal"
            hx-get="/model_builder/delete-object/{{ obj.efootprint_id }}/"
            script="on htmx:afterRequest
                    {% if remove_card_with_hyperscript %}remove #{{ obj.efootprint_id }} then updateLines() then {% endif %}"
            hx-on::after-request="dropModal('{{ modal_id }}');closeAndEmptySidePanel();"
            hx-disabled-elt="button">
        Yes, delete
    </button>
    <button type="button" class="btn btn-white border border-1 border-body-tertiary rounded-2 px-4 py-3 mb-3" data-bs-dismiss="modal" onclick="dropModal('{{ modal_id }}')">
        No, go back
    </button>
{% endblock %}

{% block script %}
    <script>
        hidePanelResult();
    </script>
{% endblock %}
